body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#success-message {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#back-to-home {
    margin-top: 20px;
}

#back-to-home a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#back-to-home a:hover {
    background-color: #0056b3;
}
